<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <div style="text-align: center;margin-top: 10px;">
      Question {{quiz.quizNo}}
    </div>
    <ion-card style="height: fit-content;">
      <ion-card-content style="text-align: center;height: fit-content;">
        Question :{{quiz.que}}
      </ion-card-content>
    </ion-card>
    <ion-list>
      <ion-radio-group (ionChange)="checkanswer($event)">
        <ion-card>
          <ion-item lines="none">
            <ion-radio style="margin-bottom: auto;margin-top: 12px;" slot="start" mode="md" value={{quiz.chA}}></ion-radio>
            <ion-label style="white-space:unset;">A. {{quiz.chA}}</ion-label>
          </ion-item>
        </ion-card>
        <ion-card>
          <ion-item lines="none">
            <ion-radio style="margin-bottom: auto;margin-top: 12px;" slot="start" mode="md" value={{quiz.chB}}></ion-radio>
            <ion-label style="white-space:unset;">B. {{quiz.chB}}</ion-label>
          </ion-item>
        </ion-card>
        <ion-card>
          <ion-item lines="none">
            <ion-radio style="margin-bottom: auto;margin-top: 12px;" slot="start" mode="md" value={{quiz.chC}}></ion-radio>
            <ion-label style="white-space:unset;">C. {{quiz.chC}}</ion-label>
          </ion-item>
        </ion-card>
        <ion-card>
          <ion-item lines="none">
            <ion-radio style="margin-bottom: auto;margin-top: 12px;" slot="start" mode="md" value={{quiz.chD}}></ion-radio>
            <ion-label style="white-space:unset;">D. {{quiz.chD}}</ion-label>
          </ion-item>
        </ion-card>
      </ion-radio-group>
    </ion-list>

  </ion-card>
</ion-content>
<ion-button style="width: 100%;" (click)="submit(quiz)">{{butext}}</ion-button>
